# Do not upload tests, results, submissions or data by accident.
io/tests/*
io/results/*
io/submissions/*
io/data/*
# Do keep the folders.
!io/rests/.keep
!io/results/.keep
!io/submissions/.keep
!io/data/.keep
# Add lab 1 baseline info.
!io/tests/l1
!io/data/l1
